@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap");
/*
 TODO: Download these fonts and install them locally
 TODO: Move ALL styles into inline ones
*/

.input:active,
.input:focus {
  outline: none;
  margin-block: 0;
  box-sizing: border-box;
}

.inputContainer * {
  margin-block: 0;
  box-sizing: border-box;
}

.inputContainer {
  display: flex;
  overflow: hidden;
  background-color: #3d3d3d;
  gap: 8px;
  position: relative;
  padding: 16px 8px;
  border-top: 1px solid #666666;
  margin-block: 0;
  box-sizing: border-box;
}

.inputContainer input {
  background-color: #3d3d3d;
  color: #b1b1b1;
  width: 100%;
  appearance: none;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  margin-block: 0;
  box-sizing: border-box;
}

.inputContainer > p {
  background-color: #3d3d3d;
  color: #b1b1b1;
  width: 100%;
  appearance: none;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  white-space: pre-wrap;
  word-break: break-word;
  margin-block: 0;
  box-sizing: border-box;
}

.inputContainer input::placeholder {
  color: #b1b1b1;
  margin-block: 0;
  box-sizing: border-box;
}

.inputContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  border-radius: 999px;
  background-color: #fafd86;
  cursor: pointer;
  margin-block: 0;
  box-sizing: border-box;
}

.chatbox-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #666666;
  margin-block: 0;
  box-sizing: border-box;
}

.chatbox-header * {
  margin-block: 0;
  box-sizing: border-box;
}

.message {
  display: flex;
  gap: 8px;
  align-items: end;
  margin-block: 0;
  box-sizing: border-box;
}

.message * {
  margin-block: 0;
  box-sizing: border-box;
}

.message-content {
  padding: 8px 16px;
  background-color: #666666;
  color: white;
  max-width: 90%;
  border-radius: 16px;
  white-space: pre-line;
  overflow-wrap: break-word;
  margin-block: 0;
  box-sizing: border-box;
}

.message-content > h3 {
  margin: 8px 0;
  margin-block: 0;
  box-sizing: border-box;
}

.message-content strong {
  display: inline-block;
  margin: 4px 0;
  margin-block: 0;
  box-sizing: border-box;
}

.message-content hr {
  display: none;
  margin-block: 0;
  box-sizing: border-box;
}

.message-user {
  flex-direction: row-reverse;
  margin-block: 0;
  box-sizing: border-box;
}

.message-user > .message-content {
  border-bottom-right-radius: 0;
  background-color: #fafd86;
  color: #3d3d3d;
  margin-block: 0;
  box-sizing: border-box;
}

.message-bot > .message-content {
  border-bottom-left-radius: 0;
  margin-block: 0;
  box-sizing: border-box;
}

.close {
  cursor: pointer;
  margin-block: 0;
  box-sizing: border-box;
}

.form-message {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 24px;
  border: 1px solid #666666;
  margin-block: 0;
  box-sizing: border-box;
}

.form-message > p {
  font-family: Popins, sans-serif;
  text-align: center;
  margin-bottom: 4px;
  margin-block: 0;
  box-sizing: border-box;
}

.form-button {
  background-color: #666666;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: Popins, sans-serif;
  margin-block: 0;
  box-sizing: border-box;
}

.form-button:hover {
  background-color: #fafd86;
  color: #3d3d3d;
  margin-block: 0;
  box-sizing: border-box;
}

.form-input {
  background-color: #666666;
  color: #ffffff;
  width: 100%;
  appearance: none;
  border: none;
  padding: 8px 36px 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  margin-block: 0;
  box-sizing: border-box;
}

.form-input::placeholder {
  color: #b1b1b1;
  margin-block: 0;
  box-sizing: border-box;
}

.form-input-container {
  position: relative;
  margin-block: 0;
  box-sizing: border-box;
}

.form-input-container > span {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  margin-block: 0;
  box-sizing: border-box;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-block: 0;
  box-sizing: border-box;
}

.dot {
  width: 8px;
  height: 8px;
  opacity: 0;
  animation: showHideDot 2.5s ease-in-out infinite;
  border-radius: 100%;
  background-color: #ffffff;
  margin-block: 0;
  box-sizing: border-box;

  &.one {
    animation-delay: 0.2s;
  }
  &.two {
    animation-delay: 0.4s;
  }
  &.three {
    animation-delay: 0.6s;
  }
}

@keyframes showHideDot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
